NEXT_PUBLIC_SUPABASE_URL=https://prwanvpprympvvkgidib.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InByd2FudnBwcnltcHZ2a2dpZGliIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQ4MzY4MDQsImV4cCI6MjA3MDQxMjgwNH0.4h_0c6HLZGeKuOHNYJ1XLAcP61Cghks1VArJqLQHbfo
